/vendor/
/node_modules
/phpunit.xml
/composer.lock
/yarn.lock
/package-lock.json
.DS_Store
.sass-cache/
.idea
node_modules/
jspm_packages/
.npm
.eslintcache
.node_repl_history
.yarn-integrity
npm-debug.log*
yarn-debug.log*
yarn-error.log*